<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hexagon.demo.sys.mapper.SysUserMapper">
  <resultMap id="BaseResultMap" type="com.hexagon.demo.sys.model.SysUser">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="user_name" jdbcType="NVARCHAR" property="userName" />
    <result column="sex" jdbcType="NCHAR" property="sex" />
    <result column="birthday" jdbcType="DATE" property="birthday" />
    <result column="remark" jdbcType="NVARCHAR" property="remark" />
  </resultMap>
</mapper>